[submodule "open_elevation/cassandra_io"]
	path = pvgrip/storage/cassandra_io
	url = https://github.com/esovetkin/cassandra_io.git
[submodule "open_elevation/ssdp"]
	path = pvgrip/ssdp/ssdp
	url = git@jugit.fz-juelich.de:pearl-project/ssdp.git
[submodule "pvgrip/storage/ipfs_io"]
	path = pvgrip/storage/ipfs_io
	url = https://github.com/esovetkin/ipfs_io.git
[submodule "configs/secret"]
	path = configs/secret
	url = gitolite-ipfsio:albus/juelich/pvgrip/secret
