bottle
cachetools
cdsapi
celery[redis]
diskcache
filelock
flower
gunicorn
lazy
matplotlib
netcdf4
numpy
opencv-python
pandas
pyproj
pytest
python-dateutil
python-geohash
requests
rtree
scipy
shapely
si-prefix
suntime
tqdm
